@import "../../styles/variables.scss";

.list-item {
  cursor: pointer;
  line-height: 2rem;

  &.selected {
    background-color: $darkBlue !important;
  }
  .item {
    display: inline;
  }
  .close {
    cursor: pointer;
    color: $gray;
    padding-left: 1rem;
  }
}
