$black: #262f37;
$gray: #1d2633;
$white: #f7f7ff;
$blue1: #bdd5ea;
$blue2: #9eb2c3;
$blue3: #7e8e9c;
$darkBlue1: #577399;
$darkBlue2: #496080;
$darkBlue3: #3a4d66;
$orange: #fe5f55;
$editor: #2c3a4d;
